<%= link "Back", to: Routes.admin_post_path(@conn, :index) %>

<h1><%= @post.title %></h1>

<pre>
<%= @post.body %>
</pre>

<h2>Comments</h2>

<ul>
  <%=  for comment <- @post.comments do %>
    <li><%= comment.body %></li>
  <% end %>
</ul>

<span><%= link "Edit", to: Routes.admin_post_path(@conn, :edit, @post) %></span>
