<%= link "Back", to: Routes.admin_post_path(@conn, :index) %>

<h1><%= @post.title %></h1>

<pre class="markdown">
<%= @post.body %>
</pre>

<%= if Enum.any?(@post.comments) do %>

<hr/>

<h2>Comments</h2>

<ul>
  <%=  for comment <- @post.comments do %>
    <li><%= comment.body %></li>
  <% end %>
</ul>
<% end %>

<%= link "Edit", to: Routes.admin_post_path(@conn, :edit, @post) %>
